h1{
    text-transform : Capitalize;
    font-weight: 900;
}
p{
    text-align: justify;
}
.btn2{
    border: 1px solid;
    border-radius: 25px;
    background-color: rgb(235, 107, 68);
    color: white;
}
.cylinder{
    width: 250px;
    height: 320px;
    padding: 20px;
    border-bottom-left-radius: 400px;
    border-bottom-right-radius: 400px ;
    background-color: rgb(227, 54, 169);
    position: absolute;
}
.cylinder1{
    width:230px;
    height: 420px;
    padding: 20px;
    background-color: rgb(82, 37, 174);
    border-bottom-left-radius: 400px;
    border-bottom-right-radius: 400px ;
    position: absolute;
    right: 200px;
}
.poly{
    width:106px;
    height: 200px;
    padding: 23px 20px;
    background-color: rgb(91, 182, 102);
    border-bottom-left-radius: 400px;
    border-bottom-right-radius: 400px ;
    position: absolute;
    top:0;
    left: 0;
}
.poly1{
    background-color: rgb(239, 177, 230);
    left : 107px;
}
.poly2{
    background-color: rgb(218, 42, 118);
    height: 100px;
    left: 110px;
}
.poly3, .poly4{
    background-color: rgb(225, 114, 114);
    top:110px;
    left : 2px;
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
}
.poly4{
    background-color: rgb(158, 100, 212);
    left : 110px;
}
.img1{
    position: absolute;
    top: 0;
    left:5px;
    animation: example 4s alternate infinite linear;

}
.img2{
    background-color: rgb(158, 100, 212);
    position: absolute;
    bottom: 0;
    left :0;
    padding: 55px 50px;
}
.img3{
    position: absolute;
    left : 46px;
    top : 190px;
}
.img4{
    position: absolute;
    top:0;
    left: 8px;
}
.img5, .img7{
    position: absolute;
    left : 3px;
    animation: example 4s alternate-reverse infinite linear;
}
.img7{
    animation: example 4s alternate infinite linear;
}
.img6{
    position: absolute;
    top : 300px;
    left : 60px;

}
@keyframes example {
    from{
        top : 0px;
    }
    to{
        top : 100px;
    }
}